.header {
	position: absolute;
	border: 1px solid black;
	width: 100%;
	height: auto;
	margin-top: 19px;
}

.header a {
	color: black;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 14px;
}

.l_menu {
	float: left;
	margin-left: 20px;
	background-color: yellow;
}

.r_menu {
	background-color: pink;
	float: right;
	margin-right: 20px;
}

.l_menu a {
	padding-left: 20px;
}

.r_menu a {
	padding-right: 20px;
}

#signin {
	background-color: blue;
	opacity: 0.75;
	color: white;
	border-radius: 2px;
	padding: 5px 20px;
	font-weight: 700;
}

.header a:hover {
	text-decoration: underline;
}

#img_apps {
	width: 15px;
	opacity: 0.5;
}

#img_apps:hover {
	opacity: 1;
}

#signin:hover {
	text-decoration: none;
}