/*-------- TOP MENU --------*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	margin: 19px 10px 0 10px;
//	background-color: pink;
}

.header a {
	color: black;
	opacity: 0.75;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 14px;
}

.l_menu {
	display: flex;
	width: auto;
	align-items: center;
}

.r_menu {
	width: auto;
	display: flex;
	align-items: center;
}

.l_menu a {
	padding-left: 20px;
}

.r_menu a {
	padding-right: 20px;
}

#signin {
	background-color: rgb(66,133,244);
	color: white;
	border-radius: 2px;
	line-height: 28px;
	font-weight: 700;
	font-size: 13px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 20px;
}

.header a:hover {
	text-decoration: underline;
}

#img_apps {
	width: 15px;
	opacity: 0.55;
}

#img_apps:hover {
	opacity: 1;
}

#signin:hover {
	text-decoration: none;
}

/*-------- CENTER --------*/
.main {
//	background-color: yellow;
	margin: 180px auto 0 auto;
}

#logo {
	display: block;
	margin: auto;
	width: 272px;
//	background-color: green;
}

.searchbar {
//	background-color: pink;
	width: 484px;
	height: 44px;
	margin: 40px auto 0 auto;
	border: 0.2px solid rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.searchbar:hover {
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#input {
	position: relative;
	width: 403px;
	height: 34px;
//	background-color: yellow;
	border: none;
	font-size: 16px;
	margin-left: 20px;
	top: 50%;
	transform: translate(0,-50%);
}

#input:focus {
	outline: none;
}

#img_voice {
	position: relative;
//	background-color: orange;
	width: 28px;
	top: 50%;
	transform: translate(0,-50%);
	float: right;
	margin-right: 15px;
}

.buttons {
//	background-color: pink;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.buttons a {
	color: #666;
	border-radius: 2px;
	opacity: 0.75;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: 700;
	background-color: rgba(0,0,0,0.1);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 30px 10px 0 10px;
}

.buttons a:hover {
	color: black;
	border: 1px solid #999;
}

/*-------- FOOTER --------*/

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(200,200,200,.2);
	border: 1px solid rgb(220,220,200);
	margin-top: 80px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer a {
	color: black;
	opacity: 0.75;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 14px;
}

.footer a:hover {
	text-decoration: underline;
}

.l_footer_menu {
	display: flex;
	width: auto;
	align-items: center;
}

.r_footer_menu {
	width: auto;
	display: flex;
	align-items: center;
}

.l_footer_menu a {
	padding-left: 20px;
}

.r_footer_menu a {
	padding-right: 20px;
}
