.header {
	position: absolute;
	width: 100%;
	min-width: 900px;
	display: inline-block;
	margin: 19px 9px 0 9px;
}

.header_menu_left {
	float: left;
	margin: 0;
}

.header_menu_left div {
	float: left;
	padding: 0 0 0 25px;
}

.header_menu_right {
	float:right;
	margin: 0 25px 0 0;
}

.header_menu_right div {
	float: right;
	padding: 0 25px 0 0;
}

#apps img {
	width: 24px;
	height: 24px;
	opacity: 0.75;
}

.header a {
		text-decoration: none;
		color: #000;
		opacity: 0.75;
		font-family: arial, sans-serif;
		font-size: 13px;
}

.header a:visited {
		color: #609;
}

.header a:hover {
	text-decoration: underline;
}

#signin a:hover {
	text-decoration: none;
}

#apps img:hover {
	opacity: 1;
}

#signin {
	background-color: #4683ea;
	border-radius: 2px;
	text-align: center;
	line-height: 28px;
    padding: 0 12px;
}

#signin a {
	color: white;
	font-weight: bold;
}